@use 'variables' as v;
@use 'base/mixins' as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: v.$fuente_secundaria;
    font-size: 1.6rem;
    background-color: v.$cafeClaro;
}
p{
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    
}

a{
    text-decoration: none;
    color: v.$negro;
}
img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
