// Variables de fuentes
$fuente_principal:'Roboto', sans-serif;

// Variables de Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Variables de Colores
$primario: #e8505b;
$secundario: #455a64;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;

// Variables de unidades
$separacion: 5rem;