// Variables de fuentes
$fuente_principal:'Raleway', sans-serif;
$fuente_secundaria:'Roboto', sans-serif;
$fuente_cursiva:'Bona Nova', serif;


// Variables de Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Variables de Colores
$primario: #5E311e;
$secundario: #c39c63;
$negro: #000;
$blanco: #fff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// Variables de unidades
$separacion: 5rem;