@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales-blog{
    margin-top: 5rem;

    @include m.desktop {
        @include m.grid(3,4rem);
    }


    &__testimoniales{
        @include m.desktop {
            grid-column: 1/2;
        }
    }

    &__blog{
        @include m.desktop {
            grid-column: 2/4;
        }
    }

    &__heading{
        @include m.heading(true);
    }
}

.testimonial{

    &__imagen{
        width: 20rem;
        margin: 0 auto;
    }

    &__contenido{
        background-color: v.$blanco;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem 2rem;

    }

    &__nombre{
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
    }

    &__texto{
        text-align: center;
        &::before{
            content: '';
            background-image: url(../img/quote.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;

        }
    }
}