/* CSS Global */
:root{
    --blanco: #FFFF;
    --negro: #111111;
    --gris: #343a40;

    --fuentePrincipal: 'Raleway', sans-serif;;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1,h2,h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 5.8rem;
}
h3{
    font-size: 5rem;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
.btn{
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color 300ms;
}
.btn:hover{
    background-color: var(--gris);
    color: var(--blanco);
}

/* UTILIDADES */

.text-center{
    text-align: center;
}
.mt-5{
    margin-top: 5rem;
}

/**  HEADER **/
.header{
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.contenedor-header{
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    color: var(--blanco);
}
.nombre-sitio{
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}
@media(min-width: 768px) {
    .nombre-sitio{
        font-size: 5rem;
    }
}

.nombre-sitio span{
    font-weight: 900;
}
@media(min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 768px) {
    .contacto{
        align-items: flex-end;
    }
}
.telefono{
    display: flex;
}
.telefono::before{
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}
.header a{
    color: var(--blanco);
    font-size: 2rem;
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
@media(min-width: 768px) {
    .navegacion{
        flex-direction: row;
    }
}
.navegacion a{
    padding: .5rem;
    transition: background-color 300ms;
    width: 100%;
    text-align: center;
}
@media(min-width: 768px) {
    .navegacion a{
        padding: 1rem 2rem;
    }
}
.navegacion a:hover{
    background-color: rgb(255 255 255 /.5);
    color: var(--negro);
}
.slogan{
    text-align: center;
}
@media(min-width: 768px) {
    .slogan{
        text-align: right;
    }
}
.slogan h1{
    font-size: 3rem;
    margin: 0;
}
@media(min-width: 768px) {
    .slogan h1{
        font-size: 5rem;
    }
}
.slogan p{
    margin: 0;
    line-height: 1;
}

/* Sobre Nosotros en Index */
.nosotros{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
@media(min-width: 992px) {
    .nosotros{
        grid-template-columns: repeat(3,1fr);
    }
}

.contenido-nosotros{
    background-color: var(--blanco);
    padding: 5rem;
}
@media(min-width: 992px) {
    .contenido-nosotros{
        grid-column: 2/4;
    }
}

.contenido-nosotros h2,
.contenido-nosotros p{
    margin-bottom: 1rem;
}

