// Fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #f46669;
$secundario: #c7c57d;
$negro: #000;
$blanco: #FFFFFF;
$gris: #f5f5f5;