.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
}

.precio {
    font-size: 4rem;
    margin: 0;
}

@media (min-width: 600px ) {
    .oferta {
        max-width: 40rem;
        margin:  0 auto;
    }
}

@media (min-width: 800px) {
    .oferta {
        max-width: 60rem;
    }
}