/* Custom Propertys */
:root{
    --primario: #1073ba;
    --secundario: #00da55;
    --gris: #3b3b3b;
    --blanco: #FFF;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, h2, h3{
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}
h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}

/* Globales */
.contenedor{
    max-width: 120rem; 
    width: 90%;
    margin: 0 auto;
}

/** Utilidades **/
.text-center{
    text-align: center;
}

/*  degradados  */
/*  -webkit para que funcione en chrome el degradado.  */
.degradado-verde{
    color: transparent;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
    -webkit-background-clip: text; 
    background-clip: text;
}

/* Header */
.header{
    background-color: var(--negro);
    padding: calc(var(--separacion) * 3) 0;
    color: var(--blanco);
}
@media(min-width: 768px) {
    .contenido-header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.texto-header{
    text-align: center;
    padding-top: var(--separacion);
    
}
@media(min-width: 768px) {
    .texto-header{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}
.texto-header p{
    margin: 0;
}

.tagline-producto{
    font-size: 3rem;
    font-weight: 900;
}
.nombre-producto{
    font-size: 6rem;
    margin: 0;
}
@media(min-width: 768px) {
    .nombre-producto{
        font-size: 10rem;
        line-height: 1;
    }
}
.precio-producto span{
    font-size: 6rem;
    font-weight: 900;
}
