:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
[class$="__contenedor"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
[class$="__heading"]{
    text-align: center;
    margin-bottom: 5rem;
}





/* HEADER */
.header{
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0;
}
@media(min-width: 768px) {
    .header{
        background-size: 49rem;
    }
}
@media(min-width: 992px) {
    .header{
        background-size: 60rem;
    }
}
@media(min-width: 1280px) {
    .header{
        background-size: 100rem;
    }
}


@media(min-width: 768px) {
    .header__barra{
        display: flex;
        justify-content: space-between;
    }
}
.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}
@media(min-width: 768px) {
    .header__logo{
        margin: 0;
    }
    .header__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        align-items: center;
    }
}
.header__heading{
    font-size: 3rem;
}
@media(min-width: 768px) {
    .header__heading{
        text-align: left;
        font-size: 5rem;
        line-height: 1.2;
    }
}

@media(min-width: 768px) {
    .header__imagen{
        max-width: 30rem;
        margin: 0 auto;
    }
}
.header__boton{
    background-color: var(--primario);
    color: var(--blanco);
    display: block;
    padding: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}
@media(min-width: 768px) {
    .header__boton{
        padding: 1rem 3rem;
        display: inline-block;
    }
}





.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 768px) {
    .navegacion{
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}
.navegacion__link{
    color: var(--primario);
}
@media(min-width: 768px) {
    .navegacion__link{
        color: var(--blanco);
    }
}





.nucleus{
    margin-top: 3rem;
}

.nucleus__grid{
    display: flex;
    flex-direction: column-reverse;
}
@media(min-width: 768px) {
    .nucleus__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5rem;
        align-items: center;

    }
    .nucleus__imagen{
        max-width: 90rem;
    }
    
}
.listado__elemento{
    border: 1px solid #e1e1e1;
    padding: 2rem;
    transition: transform 300ms;
    margin-bottom: 5rem;
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 /.15);
    background-color: var(--blanco);
}
.listado__elemento:hover{
    transform: scale(1.1);
}
.listado__heading{
    font-size: 3rem;
    color: var(--primario);
    margin: 0;
}
.listado__texto{
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
@media(min-width: 768px) {
    .listado{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .listado__elemento{
        padding: 2rem;
        transition: transform 300ms;
    }
    .listado__elemento:hover{
        transform: scale(1.1);
    }
    .listado__heading{
        font-size: 25px;
    }
    .listado__texto{
        margin: 0;
        font-size: 12px;
        font-weight: 400;
    }
}



/* Seguridad */
.seguridad{
    background-color: var(--primario);
    padding: 10rem 0;

}
.seguridad__heading{
    color: var(--blanco);
}

@media(min-width: 768px) {
    .seguridad__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5rem;
        align-items: center;
    }
}
