:root {
    --primary: #e99401;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
}
img {
    max-width: 100%;
}
