@use 'base/variables' as v;
@use 'base/mixins' as m;


.header{
    display: flex;
    flex-direction: column;
    padding: v.$separacion 0;
    align-items: center;
    @include m.desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo{
        width: 30rem;
        margin-bottom: 5rem;
        @include m.desktop {
            margin-bottom: 0;
        }

    }
}