html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem=10px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1,h2,h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
/* Utilidades */
.text-center{
    text-align: center;
}
.max-width-30{
    max-width: 30rem;
}


/* Globales */
a{
    text-decoration: none;
    color: #000;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
/* Ajustes generales para un img */
img{
    max-width: 100%; /* Se adapta al tamaño del div contenedor */
    display: block; /* La imagen da un poco de margen hacia abajo*/
}
.btn{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
}
.btn:hover{
    background-color: #769c02;
}


/* Header y Navegacion */
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
    font-size: 5rem;
}
.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
}
.nav-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categorias */
.categorias{
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 4rem;
}
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Nosotros */
.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    padding: 10rem 0;

}
.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end;
}
.texto-nosotros{
    flex-basis: 46%;
    color: #fff;
}
/* Listado de productos en main */
.contenido-principal{
    padding-top: 5rem;
}
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img{
    height: 44.2rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}
.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}


.producto{
    background-color: #037bc0;
}
.texto-producto{
    text-align: center;
    color: #fff;
    padding: 2rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

/* Footer */
.site-footer{
    margin-top: 5rem;
    border-top: 1.5px solid #e1e1e1;
    padding-top: 5rem;
}
.grid-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 5rem;
}
.grid-footer h3{
   margin: 0;
}
.footer-menu{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem
}
.copyright{
    text-align: center;
    font-weight: 900;
}

/* Nosotros.html */
.contenido-nosotros{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax( 25rem,1fr ));
    column-gap: 4rem;
}
.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Blog */
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}
.entrada{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5rem;
}
.entrada:last-of-type{
    border: none;
}
.entrada-meta{
    display: flex;
    justify-content: space-between;
}
.entrada-meta p{
    font-size: 20px;
    font-weight: 700;
}
.entrada-meta p span{
    color: #037bc0;
    font-size: 25px;
}
aside ol{
    list-style-type: georgian;
}

