body{
    margin: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;;
}

.nombre-sitio span{
    color: #037bc0;
}

/** BOX MOdel **/

.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px;
    width: 100%;
}




