html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem=10px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1,h2,h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}


/* Globales */
a{
    text-decoration: none;
    color: #000;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
/* Ajustes generales para un img */
img{
    max-width: 100%; /* Se adapta al tamaño del div contenedor */
    display: block; /* La imagen da un poco de margen hacia abajo*/
}


/* Header y Navegacion */
.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
    font-size: 5rem;
}
.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
}
.nav-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categorias */
.categorias{
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 4rem;
}
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Nosotros */
.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    padding: 10rem 0;

}





