@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton-primario {
    @include m.boton(v.$primario, v.$secundario);
}
.boton-plan {
    @extend .boton-primario;
    border: 2px solid v.$blanco;
    margin-top: 2rem;
    display: block;
}