@use 'base/variables' as v;
@use 'base/mixins' as m;


.crea-grid{

    @include m.tablet {
        @include m.grid(2,2rem);
        align-items: center;
    }

    
}
.contenido{
    text-align: center;

    @include m.tablet {
        text-align: left;
    }

    h2 {
        @include m.headingBorder( v.$secundario, v.$primario );
    }
}