@use 'base/variables' as v;
@use 'base/mixins' as m;

.planes{
    background-color: v.$secundario;
    h2 {
        @include m.headingBorder(v.$blanco, v.$primario);
    }
    .descripcion {
        color: v.$blanco;
    }
}

.nuestros-planes {
    display: flex;
    flex-direction: column;


    @include m.tablet {
        flex-direction: row;
    }
    .plan{


        &.negocio{
            order: -1;

            @include m.tablet {
                order: unset;
            }
        }
    }
}