@use 'base/variables' as v;
@use 'base/mixins' as m;


.favoritos{
    background-color: v.$grisClaro;
    padding: 5rem 0;
    &__heading{
        padding: 3rem 0 0 0;
        text-align: center;
        color: v.$secundario;
    }

    &__grid{
        display: block;
        
        @include m.desktop {
            margin-bottom: 0;
            @include m.grid(2,4rem);
        }
    }
}