@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    padding: v.$separacion 0;
    position: relative;

    @include m.telefono{
        padding: 4rem 0;
    }
    @include m.tablet{
        padding: 3rem 0;
    }
    @include m.desktop{
        padding: 2rem 0;
    }

    &::before{
        content: '';
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
    }

    .contenido-header{
       position: relative;
    }
}


// Header de cada pagina
.header-inicio{
    background-image: url(../img/header_inicio.jpg);
}