@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra{
    display: none;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navegacion{
        @include m.tablet {
            display: flex;
            gap: 4rem;
        }
    }

    &__link{
        color: v.$blanco;
    }

    &__nombre{
        color: v.$blanco;
        margin: 0;
    }
}