@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 3rem 0 20rem 0;

    &__busqueda{
        margin-top: 5rem;
        text-align: center;
        @include m.tablet {
            margin-top: 30rem;
        }
    }

    &__busqueda-boton{
        @include m.boton(v.$blanco,v.$primario);
    }
}