@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-principal{
    background-color: v.$blanco;
    padding: 5rem 2rem;

    @include m.tablet {
        padding: 10rem;
        margin-top: -10rem;
        position: relative;
    }
}
