@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuestro-menu{
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, v.$primario, v.$primario);
    background-repeat: no-repeat;
    background-position: center 5rem, center 90%,100%;
    background-size: 175%;
    padding: 15rem 2rem 20rem 2rem;
    min-height: 250rem;

    @include m.telefono {
        min-height: 210rem;
    }

    @include m.tablet {
        padding: 15rem 0 20rem 0;
        background-size: 100%;
        min-height: 145rem;

    }
    @include m.desktop{
        background-size: 70%,70%,100%;
        padding: 17rem 5rem 20rem 5rem;
        min-height: 140rem;
    }
    @include m.desktop-xl {
        background-size: 50%,50%,100%;
        padding: 17rem 5rem 20rem 5rem;
        min-height: 130rem;
    }

}

.grid-menu{
    @include m.tablet {
        @include m.grid(2,4rem);
    }
}
.menu{
    h3{
        color: v.$blanco;
        font-size: 22px;
    }
    
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 20px;
            line-height: 1.6;
            color: v.$cafeClaro;
            margin: 0 0 2rem 0;
            span{
                display: block;
                color: v.$secundario;
            }
        }
        .precio{
            font-size: 4rem;
            color: v.$blanco;
            font-weight: 700;
        }

    }
}