@use 'base/variables' as v;
@use 'base/mixins' as m;


.nuestros-testimoniales{
    padding: 10rem 2rem;
    background-color: #fff;
    @include m.tablet {
        padding: 10rem;
    }

    .testimonial{
        background-color: v.$cafeClaro;
        padding: 2rem 4rem;
        max-width: 50rem;
        margin: 0 auto;
        border-radius: 1rem;

        p{
            font-weight: 700;
        }

        .autor{
            text-align: right;
            font-size: 2.4rem;
            color: v.$primario;
            font-family: v.$fuente_cursiva;
        }
    }
}