@use 'base/variables' as v;
@use 'base/mixins' as m;

.experiencias{

    &__listado{
        display: grid;
        grid-template-columns: repeat(3,30rem);
        column-gap: 2rem;
        @include m.scrollHorizontal;

        @include m.tablet {
            @include m.grid(3,1.5rem);
        }
        @include m.desktop {
            @include m.grid(3,2rem);
        }

    }
}

.experiencia{
    &__imagen {
        border-radius: 1rem;
    }
    &__titulo {
        font-weight: 700;
        font-size: 2rem;
    }
    &__descripcion {
        font-size: 1.8rem;
    }
}