@use 'base/variables' as v;
@use 'base/mixins' as m;

.escuela{
    padding: 20rem 0;
    @include m.bgImage('../img/chef_bg.jpg');
    text-align: center;
    color: v.$blanco;

    &__heading{
        font-weight: 700;
    }

    &__texto{
        font-size: 2.6rem;
        max-width: 50rem;
        margin: 0 auto;
    }
    
    &__enlace{
        @include m.boton(v.$primario,v.$blanco);
    }
}