@use 'base/variables' as v;
@use 'base/mixins' as m;

.nosotros{
    padding: 5rem 0;
    &__heading{
        @include m.heading;
    }

    &__grid{

        @include m.tablet {
            @include m.grid(3,2rem);
        }
    }

    &__bloque{
        text-align: center;
    }

    &__imagen{
        margin: 0 auto;
    }

}