// Fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteHeading: 'Staatliches', cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #B8336A;
$secundario: #068D9D;
$terciario:  #ff8015;
$negro: #000;
$blanco: #FFFFFF;
$gris: #484349;
$grisClaro: #F2F2F2;