@use 'base/variables' as v;
@use 'base/mixins' as m;


.productos{
    &__heading{
        @include m.headingCursiva;
        margin-bottom: 5rem;
    }

    &__grid{
        @include m.grid(1,2rem);

        @include m.tablet {
            @include m.grid(2,2rem);
        }
        @include m.desktop {
            @include m.grid(4,2rem);
        }
        
    }
}

.producto{
    &__contenido{
        padding: 2rem 0 2rem 0;
        background-color: v.$blanco;
        text-align: center;
        text-transform: uppercase;
    }

    &__mask{
        overflow: hidden;
    }

    &__imagen{
        width: 100%;
        transition: transform 300ms;

        &:hover{
            transform: scale(1.2);
        }
    }

    &__nombre{
        color: v.$secundario;
        font-size: 2.4rem;
        font-weight: 400;
    }
    &__descripcion{
        line-height: 1.8;
        font-size: 1.6rem;
    }
    &__precio{
        color: v.$gris;
        font-size: 2.8rem;
        margin: 0;
    }
}