@use 'base/variables' as v;

.slider{
    overflow: hidden;

    &__slide{
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }
}