@use 'base/variables' as v;

.slider{
    overflow: hidden;
    position: relative;

    &__slide{
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }
    &__imagen{
        width: 100%;
    }
}
.swiper-button-next, 
.swiper-button-prev {
    color: #e1e1e1;
}
.swiper-pagination-bullet{
    background-color: v.$blanco;
    opacity: .5;
}
.swiper-pagination-bullet-active{
    background-color: v.$primario;
}




  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }